<!doctype html>
<html>

    <head>

    <style>
 body{
        background-image:url("https://e0.pxfuel.com/wallpapers/218/654/desktop-wallpaper-motherboard-android-compatible-blue-motherboard.jpg");
        background-size: cover;
        }



    </style>
 <title>Computer Parts and Builds</title>

</head>
    {% extends "base.html" %}
    <body>
{% block content %}


<h1 style="color:white">Computer Parts and Builds</h1>

    <form action="/" method="POST">
        <label for="sort_by">Sort by:</label>
        <select name="sort_by" id="sort_by">
            <option value="model">Model</option>
            <option value="year">Year</option>
        </select>
        <input type="submit" value="Sort">
    </form>

{% endblock %}

    </body>
</html>